<!DOCTYPE html> 
<html lang="en"> 
    <head> 
        <title>About Us</title> 
        <meta charset="utf-8" /> 
        <link rel="stylesheet" href="./cdn/css/about.css">
        <link href="https://fonts.googleapis.com/css2?family=Mouse+Memoirs&display=swap" rel="stylesheet">
        <script type="text/javascript" src="https://platform-api.sharethis.com/js/sharethis.js#property=5ef0f41d0e78e50012568219&product=inline-share-buttons" async="async"></script>
    </head> 
    <body> 
        <div class="container">
            <div class="navbar">
                <img src="./cdn/images/logo.png">
                <ul>
                <li><a href="/">Home</a></li>
                <li> <a href="login">Login</a></li>
                <li> <a href="signUp">Sign Up</a></li>
                </ul>
            </div>

            <h1>Developers of BillCleave</h1>
            <div class="Dev">
                <div class="section">
                    <img src="./cdn/images/guest.jpg" style="width:50%">
                    <p> Madimetja Sethosa <br> (1076467)</p>
                </div>    
                
                <div class="section">
                    <img src="./cdn/images/guest.jpg" style="width:50%">
                    <p> Teboho Matsheke <br> (1157717)</p>
                </div> 

                <div class="section">
                    <img src="./cdn/images/guest.jpg" style="width:50%">
                    <p> Michael Asamoah-Bekoe <br> (1353083)</p>
                </div> 

                <div class="section">
                    <img src="./cdn/images/guest.jpg" style="width:50%">
                    <p> Sicelo Chilaule <br> (868308) </p> 
                </div> 


            </div>

            <div class="Contact">
                <h2>Contact Us</h2>
                <p>Email: info@BillCleave.com</p>
                <p>Tel: 011-452-0923</p>
            </div>

            
            <div class="share-buttons">
                <h3>Share the application: </h3>
                <!-- Facebook -->    
                    <a href="https://www.facebook.com/sharer.php?u=http://billcleave.azurewebsites.net" target="_blank"><img src="https://4.bp.blogspot.com/-raFYZvIFUV0/UwNI2ek6i3I/AAAAAAAAGSA/zs-kwq0q58E/s1600/facebook.png" alt="Facebook" /></a> 
                <!-- Twitter --> 
                    <a href="https://twitter.com/share?url=http://billcleave.azurewebsites.net&text=Simple Share Buttons" target="_blank"><img src="https://4.bp.blogspot.com/--ISQEurz3aE/UwNI4hDaQMI/AAAAAAAAGS4/ZAgmPiM9Xpk/s1600/twitter.png" alt="Twitter" /></a> 
                <!-- Email --> 
                    <a href="https://mail.google.com/mail/?view=cm&fs=1&tf=1&to=&su=Join+BillCleave&body=http://billcleave.azurewebsites.net&ui=2&tf=1&pli=1';" target="_blank"><img src="https://4.bp.blogspot.com/-njgKtNLrPqI/UwNI2o-9WfI/AAAAAAAAGR4/f8da1gBgyLs/s1600/email.png" alt="Email" /></a> 
            </div>
            
            
        
            
            
            
            

        </div>
    


    </body> 
</html>