<!DOCTYPE html> 
<html lang="en"> 
    <head> 
        <title>About Us</title> 
        <meta charset="utf-8" /> 
        <link rel="stylesheet" href="./cdn/css/about.css">
        <link href="https://fonts.googleapis.com/css2?family=Mouse+Memoirs&display=swap" rel="stylesheet">
        <script type="text/javascript" src="https://platform-api.sharethis.com/js/sharethis.js#property=5ef0f41d0e78e50012568219&product=inline-share-buttons" async="async"></script>
    </head> 
    <body> 
        <div class="container">
            <div class="navbar">
                <img src="./cdn/images/logo.png">
                <ul>
                <li><a href="/">Home</a></li>
                <li> <a href="login">Login</a></li>
                <li> <a href="signUp">Sign Up</a></li>
                </ul>
            </div>

            <h1>Developers of BillCleave</h1>
            <div class="Dev">
                <div class="section">
                    <img src="./cdn/images/guest.jpg" style="width:50%">
                    <p> Madimetja Sethosa <br> (1076467)</p>
                </div>    
                
                <div class="section">
                    <img src="./cdn/images/guest.jpg" style="width:50%">
                    <p> Teboho Matsheke <br> (1157717)</p>
                </div> 

                <div class="section">
                    <img src="./cdn/images/guest.jpg" style="width:50%">
                    <p> Michael Asamoah-Bekoe <br> (1353083)</p>
                </div> 

                <div class="section">
                    <img src="./cdn/images/guest.jpg" style="width:50%">
                    <p> Sicelo Chilaule <br> (868308) </p> 
                </div> 


            </div>

            <div class="Contact">
                <h2>Contact Us</h2>
                <p>Email: info@BillCleave.com</p>
                <p>Tel: 011-452-0923</p>
            </div>
            
            
        
            
            
            
            

        </div>
    


    </body> 
</html>