<!DOCTYPE html>
 <html lang="en"> 
     <head> 
         <title>House creation</title> 
         <meta charset="utf-8" /> 
    </head> 
    <body> 
        <h1>Enter the house details's details below:</h4>
        <form action="/login/user/api/create" method="post"> 
            <div> 
                <label for = 'houseName'>House name:</label> 
                <input type="text" id="houseName" name="houseName" placeholder="house name here"> 
            </div> 
            <div class="button"> 
                <button type="submit">Add</button> 
            </div> 
        </form> 
    </body> 
</html>