<!DOCTYPE html> 
<html lang="en"> 
    <head> 
        <title>BillCleave</title> 
        <meta charset="utf-8" /> 
        <link rel="stylesheet" href="./cdn/css/home.css">
        <link href="https://fonts.googleapis.com/css2?family=Mouse+Memoirs&display=swap" rel="stylesheet">
    </head> 
    <body> 
        <div class="container">
            <div class="navbar">
                <img src="./cdn/images/logo.png">
                <ul>
                  <li> <a href="login">Login</a></li>
                  <li> <a href="signUp">Sign Up</a></li>
                  <li><a href="about">About</a></li>  
                </ul>
            </div>

            <div class="banner">
                <div class="left-column">
                    <h1>Splitting <span>Bills</span></h1>
                    <h3>In a <span>'cleaver'</span> way</h3>
                    <p>IDJ CJW cjwejc jc jwcjw e jcwejjdw jwwiiewndnwn <br>
                        ewhhih cewvibe ewvi bvdibw vw viw vw wocnwoo
                    </p>

                    <div class="btn">
                        <button type="button" href="signUp" class="primary-btn">Sign-Up</button>
                        <button type="button" href="login" class="secondary-btn">Login</button>
                    </div>
                </div>

                <div class="right-column">
                    <img src="./cdn/images/money.jpg">
                </div>

                

            </div>
            
            
        </div>
    </body> 
</html>