<!DOCTYPE html> 
<html lang="en"> 
    <head> 
        <title>BillCleave</title> 
        <meta charset="utf-8" /> 
        <link rel="stylesheet" href="./cdn/css/home.css">
        <link href="https://fonts.googleapis.com/css2?family=Mouse+Memoirs&display=swap" rel="stylesheet">
        <script type="text/javascript" src="https://platform-api.sharethis.com/js/sharethis.js#property=5ef0f41d0e78e50012568219&product=inline-share-buttons" async="async"></script>
    </head> 
    <body> 
        <div class="container">
            <div class="navbar">
                <img src="./cdn/images/logo.png">
                <ul>
                  <li> <a href="login">Login</a></li>
                  <li> <a href="signUp">Sign Up</a></li>
                  <li><a href="about">About Us</a></li>  
                </ul>
            </div>

            <div class="banner">
                <div class="left-column">
                    <h1>Splitting <span>Bills</span></h1>
                    <h3>In a <span>'cleaver'</span> way</h3>
                    <p>BillCleave is a new interactive application that provides you with a 
                        new modern day approach of the IOU system. With the user house 
                        features, you will be able to track your expenses and know which 
                        person in your house owes you money as well as the people you owe.
                    </p>

                    <div class="btn">
                        <button type="button" class="primary-btn">
                            <a href="/signUp">Sign-Up</a>
                        </button>
                        <button type="button" class="secondary-btn">
                            <a href="/login">Login</a>
                        </button>
                    </div>


                    <div class="share-buttons">
                        <!-- Facebook -->    
                            <a href="https://www.facebook.com/sharer.php?u=http://billcleave.azurewebsites.net" target="_blank"><img src="https://4.bp.blogspot.com/-raFYZvIFUV0/UwNI2ek6i3I/AAAAAAAAGSA/zs-kwq0q58E/s1600/facebook.png" alt="Facebook" /></a> 
                        <!-- Twitter --> 
                            <a href="https://twitter.com/share?url=http://billcleave.azurewebsites.net&text=Simple Share Buttons" target="_blank"><img src="https://4.bp.blogspot.com/--ISQEurz3aE/UwNI4hDaQMI/AAAAAAAAGS4/ZAgmPiM9Xpk/s1600/twitter.png" alt="Twitter" /></a> 
                        <!-- Email --> 
                            <a href="https://mail.google.com/mail/?view=cm&fs=1&tf=1&to=&su=Join+BillCleave&body=http://billcleave.azurewebsites.net&ui=2&tf=1&pli=1';" target="_blank"><img src="https://4.bp.blogspot.com/-njgKtNLrPqI/UwNI2o-9WfI/AAAAAAAAGR4/f8da1gBgyLs/s1600/email.png" alt="Email" /></a> 
                        </div>

                </div>

                <div class="right-column">
                    <img src="./cdn/images/money.jpg">
                </div>
            </div>

            <div class="Features">
                <h2>Features</h2>
                <div class="feat">
                    <img src="https://img.icons8.com/material-outlined/48/000000/cottage.png" style="width:50%">
                    <p> Add, join or leave a house.
                    </p>
                </div> 
                <div class="feat">
                    <img src="https://img.icons8.com/pastel-glyph/128/000000/plus.png" style="width:50%">
                    <p> Add expenses to the each house you are a member of</p>
                </div> 

                <div class="feat">
                    <img src="https://img.icons8.com/wired/48/000000/view-file.png" style="width:50%">
                    <p> View each member of the house and their contact details</p>
                </div> 

                <div class="feat">
                    <img src="https://img.icons8.com/ios/50/000000/day-view.png" style="width:50%">
                    <p> View all the transactions of the house and their statuses. 
                    </p>
                </div> 
                

            </div>
            
            
            
        </div>
         

        <a href="https://icons8.com">Icons by Icons8</a>
    </body> 
</html>