<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
        integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" href="/style/main.css">
    <link rel="stylesheet" href="/style/model.css">
    <script defer src="/config/auth.js"></script>
</head>

<body>
    <nav>
        <h1>BillCleave</h1>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/about">About</a></li>
        </ul>
    </nav>

    <div class="container mt-4">
        <div class="card">
            <div class="card-header">
                Login Form
            </div>
            <div class="card-body">
                <form action="/login/api" method="POST" id="LoginForm">

                    <div class="form-group">
                        <label for="username">Username</label>
                        <input type="username" class="form-control" id="username" name="username" placeholder="username">
                    </div>

                    <div class="form-group">
                        <label for="password">Password</label>
                        <input type="password" class="form-control" id="password" name="password" placeholder="password">
                    </div>

                    <button type="submit" class="btn btn-primary" form="LoginForm">Login</button>
                </form>
            </div>
            <h4 class="alert alert-danger mt-4">Username or Password is incorrect </h4>
        </div>
    </div>