*{
    margin: 0;
    padding: 0;
    font-family: 'Mouse Memoirs';
}

.container{
    width: 80%;
    margin: auto;
}

.navbar{
    box-shadow: 0 1px;
    margin: 30px auto;
    display: flex;
    align-items: center;
}

ul{
    flex: 1;
    text-align: right;
}

ul li{
    display: inline-block;
    list-style: none;
    margin: 0 25px;
}

ul li a{
    text-decoration: none;
    color: black;
    padding: 0 10px;
    position: relative;
    font-size: 30px;
}

ul li a::after{
    content: '' ;
    width: 0% ;
    height: 10px ;
    background: #2e9008;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: -55px;
    transition: 0.5s ;

}

ul li a:hover::after{
    width: 100% ;
}

.banner{
    display: flex;
    margin-top: 80px;
}

.left-column, .right-column{
    flex-basis: 50%;

}

.right-column img{
    width: 100%;
}

.left-column h1{
    font-size: 100px;

}

.left-column h3{
    font-size: 35px;
}

span{
    color: #2e9008;
}

.left-column p{
    font-size: 27px;
    color: rgba(49, 48, 48, 0.6);
    margin: 50px 0;
}

.btn button{
    padding: 17px 30px;
    margin-right: 15px;
    outline: darkgreen;
    border: 1px solid #2e9008;
    border-radius: 20px;
    cursor: pointer;
    color: #2e9008;
    background: transparent;
    font-size: 20px;

}

.btn .primary-btn{
    background: linear-gradient(#2e9008, #3d9631);
    box-shadow: 0 2px 15px rgba(27, 209, 43, 0.26);
    color: #ffffff;
}

.btn .primary-btn:hover{
    background: #2e9008;
    border: none;
    color: #ffffff;
    box-shadow: 0px 2px 15px #999;
    transition: 0.3s;
}

.btn .secondary-btn:hover{
    background: #2e9008;
    border: none;
    color: #ffffff;
    box-shadow: 0px 2px 15px #999;
    transition: 0.3s;
}

.share-buttons{
    padding: 5px 157px;
}